li {
  list-style-type: none;
}



.winLayout {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.time-task {
  display: flex;
  column-gap: 20px;
}

.header {
  padding: 40px 0px 10px 0px;
}

.list-header {
  padding: 30px 0px 0px 0px;
}

.FormLayout {
 align-items: center;
  display: flex; 
  margin:auto;
}

.win-list {
  position: relative;
  float: left;
}

p {
  margin: 0px 0px;
}

hr {
  height: 1px;
  background-color: rgb(226, 226, 226);
  border: none;
}
