li {
  list-style-type: none;
}

.App {
  background-color: rgb(249, 246, 229);
}

.winLayout {
  display: flex;
  column-gap: 20px;
}

.header {
  padding: 20px 0px;
}

.FormLayout{
  align-items: baseline;
}